body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTypography-body1 {
  padding: 0 !important;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.login-user-name {
  text-align: left;
}

.help {
  margin: 70px 10px 10px 10px;
  padding: 10px;
}

.login-img {
  opacity: 1;
  width: 100%;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-img-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-password {
  text-align: left;
  margin-bottom: 10px;
}

.item-date {
  color: gray;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.MuiTabs-root {
  background-color: green;
}

.Mui-selected.MuiTabs-indicator {
  color: white !important;
  background-color: white !important;
}

.MuiTab-wrapper {
  color: white;
}

.game {
  margin-top: 50px;
}

.card-content {
  padding: 16px;
  margin-bottom: -14px;
}

.card-content2 {
  padding: 16px;
  margin-bottom: 14px;
}

.refresh-div {
  margin-top: 20px;
  text-align: center;
}

.item-list {
  margin-bottom: 10px;
}

.logout {
  margin-top: 50px;
  color: red;
}

.highscore {
  /* color: red; */
}

.profileReadOnly {
  margin-top: 20px;
}

.left {
  display: inline-block;
  width: 40px;
  margin-left: 10px;
}
.right {
  font-size: 20px;
  display: inline-block;
}

.profile {
  margin-top: 50px;
  color: blue;
}

.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.fileinputs {
  position: relative;
}

.file {
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

.tile {
  background-color: white;
  margin: 5px 5px 20px 5px;
  height: 400px;
  color: black;
  border-radius: 4px;
}

.level-text {
  font-size: 20px;
  margin-right: 5px;
  color: gray;
  text-transform: uppercase;
  text-align: right;
}
.name-text {
  font-size: 40px;
  text-transform: uppercase;
}
.detail-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.inner-number {
  font-size: 20em;
  margin: auto;
  color: yellow;
  text-align: center;
  vertical-align: middle;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
